<mat-card class="la-card la-video-card">
    <mat-card-title class="la-card--header">
        <span>Security cameras</span>
    </mat-card-title>
    <div class="la-card--content la-video-card--content">
        <div class="la-frame-component" *ngIf="frame">
            <img class="la-frame-component--item" [src]="frame.src">
            <div class="la-frame-component--info">
                <span>Camera #{{ frame.id }}</span><br>
                <span>{{ frame.date }}</span>
                <span>{{ frame.time }}</span>
            </div>
        </div> 
    </div>
    <mat-card-actions class="la-card--footer la-video-card--footer">
        <div class="la-video-card-actions">
            <button *ngIf="ctrPlay" class="la-video-card-actions--action" mat-flat-button (click)="toggle()">
                <mat-icon class="la-video-card-icon">play_arrow</mat-icon>
                <span>Play</span>
            </button>
            <button *ngIf="!ctrPlay" class="la-video-card-actions--action" mat-flat-button (click)="toggle()">
                <mat-icon class="la-video-card-icon">pause</mat-icon>
                <span>Pause</span>
            </button>
            <button class="la-video-card-actions--action" mat-flat-button (click)="openSnackBar('View logs', 'Coming soon')">
                <mat-icon class="la-video-card-icon">list</mat-icon>
                <span>Logs</span>
            </button>
            <button class="la-video-card-actions--action" mat-flat-button (click)="openSnackBar('Adjust video properties', 'Coming soon')">
                <mat-icon class="la-video-card-icon">settings</mat-icon>
                <span>Settings</span>
            </button>
        </div>
    </mat-card-actions>
</mat-card>
