@import '_spacing';

.la-container {
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
    > div {
        padding: $md-padding;
    }
    .la-container--right {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .la-container--left {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}