<div class="la-main-container">
    <mat-toolbar class="la-toolbar-header">
        <button class="la-toolbar-header--button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="la-toolbar-icon">menu</mat-icon>
        </button>
        <span  class="la-toolbar-header--title">Lanaccess</span>
    </mat-toolbar>
    <mat-sidenav-container class="la-sidenav">
        <mat-sidenav class="la-sidenav--menu" #sidenav mode="side" opened>
            <mat-list class="la-list">
                <mat-list-item class="la-list--item">
                    <mat-icon class="la-list-icon">home</mat-icon>
                    <span class="la-list-title">Dashboard</span>
                </mat-list-item>
                <mat-list-item class="la-list--item">
                    <mat-icon class="la-list-icon">home</mat-icon>
                    <span class="la-list-title">Section 1</span>
                </mat-list-item>
                <mat-list-item class="la-list--item">
                    <mat-icon class="la-list-icon">home</mat-icon>
                    <span class="la-list-title">Section 2</span>
                </mat-list-item>
                <mat-list-item class="la-list--item">
                    <mat-icon class="la-list-icon">home</mat-icon>
                    <span class="la-list-title">Section 4</span>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content class="la-sidenav--content">
            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <app-frame></app-frame>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-face></app-face>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-toolbar class="la-toolbar-footer">
        <span  class="la-toolbar-footer--title">Lanaccess</span>
    </mat-toolbar>
</div>